body {
  font-family: arial;
  margin: 0;
}

p,
ul {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

a {
  text-decoration: none;
  color: #c61c22;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

input[type=radio i] {
  margin: unset;
}

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: unset;
  background-color: unset;
  box-sizing: border-box;
  padding: unset;
  border-width: unset;
  border-style: none;
  border-color: unset;
  border-image: unset;
  text-rendering: auto;
  color: unset;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: unset;
  margin: 0em;
  font: unset;
}

h1, h2 {
  font-size: unset;
  font-weight: unset;
}

.eval__margin-auto {
  margin: auto;
}
.eval__flex {
  display: flex;
  justify-content: space-between;
}

.eval__xxl-font {
  font-size: 30px;
}
.eval__l-font {
  font-size: 20px;
}

.eval__mar-top-20 {
  margin-top: 20px;
}
.eval__pad-20 {
  padding: 20px;
}

.eval__pagename {
  font-weight: bold;
  text-align: center;
  font-size: 27px;
  color: #695151;
  text-transform: uppercase;
}
.eval__sku {
  margin: auto;
}
.eval__sku-container {
  display: flex;
}
.eval__cta {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.eval__main {
  min-height: 90vh;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 2%;
  background: linear-gradient(90deg, rgba(250, 243, 243, 0.5046393557) 0%, rgba(240, 225, 225, 0.3477766106) 48%, rgba(246, 237, 237, 0.4906337535) 100%);
  color: #695151;
}
.eval__groupcontainer {
  margin-top: 10px;
}
.eval__groupcontainer--small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
}
.eval__group {
  border: 1px solid #0000ff00;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  height: 30px;
}
.eval__group--x2height {
  height: 80px;
}
.eval__group--gb {
  width: 70%;
  margin-top: -20px;
}
.eval__radio-n-label {
  margin: 10px auto;
  height: 30px;
}
.eval__radio-n-label, .eval__radio-n-label-color {
  float: left;
  position: relative;
  width: 30%;
}
.eval__radio-n-label-color {
  width: 50px;
}
.eval__color:checked.eval__radio + label {
  border: 5px solid #c61c22;
}
.eval__label, .eval__radio {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.eval__label {
  border: 1px solid rgba(119, 109, 109, 0.28);
  box-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
}
.eval__label {
  padding: 5px;
  cursor: pointer;
  z-index: 90;
  border-radius: 7px;
  background: linear-gradient(#fff, #f3f3f3);
  margin: auto;
  line-height: 30px;
  text-align: center;
  height: 30px;
  color: #4a0707;
}
.eval__label-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.eval__label-color[for=eval__color-den] {
  background: #282a2e;
}
.eval__label-color[for=eval__color-vang] {
  background: #f5ca44;
}
.eval__label-color[for=eval__color-do] {
  background: #bd1e1e;
}
.eval__label-color[for=eval__color-xam] {
  background: #8B8989;
}
.eval__label-color[for=eval__color-trang] {
  background: #F3F2F0;
}
.eval__label-color[for=eval__color-hong] {
  background: #edc2bc;
}
.eval__label-color[for=eval__color-xanhbacha] {
  background: #b0e1c4;
}
.eval__label-color[for=eval__color-xanhreu] {
  background: #a9d5bc;
}
.eval__label-color[for=eval__color-do] {
  background: #ac2335;
}
.eval__label-color[for=eval__color-tim] {
  background: #bb32ff;
}
.eval__label-color[for=eval__color-xanhduong] {
  background: #4bace3;
}
.eval__label-color[for=eval__color-cam] {
  background: #ff6600;
}
.eval__label-color[for=eval__color-denbong] {
  background: #000;
}
.eval__thank-you {
  width: 80%;
  margin: auto;
  border: 1px solid rgba(119, 109, 109, 0.28);
  box-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
  padding: 30px;
  background: white;
}
.eval__thank-you-text {
  font-size: 20px;
  color: #c61c22 !important;
}
.eval__thank-you--container {
  display: flex;
  height: 100vh;
}
.eval__text-center {
  text-align: center;
}
.eval__phoneinfo {
  background: linear-gradient(60deg, rgba(243, 227, 227, 0.5046393557) 0%, rgba(216, 211, 211, 0.3477766106) 48%, rgba(210, 208, 208, 0.4906337535) 100%);
  padding: 10px 10px;
  border-radius: 10px;
}
.eval__title {
  text-transform: uppercase;
  padding-top: 30px;
  margin-left: 10px;
  padding-left: 10px;
}
.eval__title.price-title {
  padding-top: 0;
}
.eval__title, .eval__title--small {
  font-weight: bold;
  line-height: 1.5;
  color: #695151;
}
.eval__note {
  display: block;
  text-decoration: none;
  font-weight: bold;
}
.eval__price-input {
  border: 1px solid #fffdfd;
  box-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
  padding: 10px;
  border-radius: 10px;
  margin-top: 11px;
  background: white;
}
.eval__radio {
  height: 30px;
  width: 100%;
  opacity: 0.011;
  z-index: 100;
}
.eval__radio:not(.eval__color):checked + label {
  background: linear-gradient(#a5090f, #ec8585);
  border: none;
  color: white;
  text-shadow: 0 0 0px #ffffff;
}
.eval__button {
  border-radius: 7px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 13px 10px;
  text-transform: uppercase;
  text-align: center;
}
.eval__button-primary {
  background: linear-gradient(#a5090f, #ec8585);
  color: white;
  text-shadow: 0 0 0px #ffffff;
}
.eval__button-secondary {
  background: linear-gradient(#ffe6e6, #fffbfb);
  border: #f9d1d3 1px solid;
  color: #c61c22;
  text-shadow: 0 0 0px #c61c22;
}
.eval__button-calcu, .eval__button-reset {
  width: 49%;
  max-width: 300px;
  font-size: 13px;
}
.eval__text-input {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #8a8989;
  color: #c61c22;
  background: unset;
  width: 100%;
  text-align: center;
  margin: 17px auto;
}
.eval__text-input--price {
  width: 200px;
}
.eval__text-input::placeholder {
  text-align: left;
  color: gray;
  font-size: 15px;
}
.eval__text-input:focus {
  outline: none;
}
.eval__text-input-container {
  display: flex;
}
.eval__select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fffdfd;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #695151;
  box-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
}
.eval__option {
  font-size: unset;
}
.eval__guide {
  color: #5a5454;
  text-align: center;
  font-size: 13px;
  margin: auto;
}

#eval__list-color {
  height: 45px;
}

@media screen and (max-width: 360px) {
  .eval__main {
    width: 96%;
    padding: 2%;
  }

  .eval__radio-n-label {
    width: 33%;
  }

  .eval__button-calcu, .eval__button-reset {
    width: 48%;
  }

  .eval__group--gb {
    width: 100%;
  }
  .eval__groupcontainer--small {
    height: 60px;
    margin-top: 20px;
  }
}
.eval__progress {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 14px;
}

.eval__bar {
  width: 1%;
  height: inherit;
  background: linear-gradient(#a5090f, #ec8585);
  border-radius: 14px;
  box-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
}

.eval__panel {
  padding: 0;
  display: none;
  overflow: hidden;
  border-radius: 10px;
}
.eval__panel.eval__panel-help {
  margin-left: -20px;
  padding: 15px 20px;
  font-size: unset;
  font-weight: normal;
  text-transform: none;
  background: linear-gradient(60deg, rgba(243, 227, 227, 0.5046393557) 0%, rgba(216, 211, 211, 0.3477766106) 48%, rgba(210, 208, 208, 0.4906337535) 100%);
  position: relative;
}

.eval__question-mark {
  cursor: pointer;
}

.eval__help-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.eval__help-close i {
  font-size: 20px;
}

/* Style the accordion panel. Note: hidden by default */

/*# sourceMappingURL=style.css.map */
