// variables
$shopdunk-red: #c61c22;
$eval__grayish-blue: rgba(232, 243, 255, 0.14);
$eval__grayish-red: #fffdfd;
// $eval__gradient-red: linear-gradient($eval__grayish-red,red);
$eval__gradient-red: linear-gradient(
  90deg,
  rgba(250, 243, 243, 0.5046393557422969) 0%,
  rgba(240, 225, 225, 0.3477766106442577) 48%,
  rgba(246, 237, 237, 0.4906337535014006) 100%
);
$eval__button-shadow: 0px 0 7px 2px rgba(142, 142, 142, 0.22);
$eval__button-border: 1px solid rgba(119, 109, 109, 0.28);

$eval__radio-label-height: 30px;
$eval__shiny-button-bg: linear-gradient(#a5090f, #ec8585);
$eval__button-margin: 10px;
$eval__gray-text: #615d5d;
$eval__dark-gray-text: #695151;
$eval__light-gray-text: #8a8989;
$eval__gradient-bolder-red: linear-gradient(60deg, rgba(243, 227, 227, 0.5046393557) 0%, rgba(216, 211, 211, 0.3477766106) 48%, rgba(210, 208, 208, 0.4906337535) 100%);
// $eval__gradient-bolder-red;
$eval__gradient-silver: linear-gradient(50deg, #ffffff 0%, rgb(243, 243, 243) 48%, rgb(255, 255, 255) 100%);


// reset stuff remove after adding this project to the main project

body {
  font-family: arial;
  margin: 0;
}

p,
ul {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}
a {
  text-decoration: none;
  color: $shopdunk-red;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
input[type="radio" i] {
  margin: unset;
}
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: unset;
  background-color: unset;
  box-sizing: border-box;
  padding: unset;
  border-width: unset;
  border-style: none;
  border-color: unset;
  border-image: unset;
  text-rendering: auto;
  color: unset;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: unset;
  margin: 0em;
  font: unset;
}
h1,h2{
    font-size:unset;
    font-weight: unset;
}



// little details

.eval__{
  &margin-auto{
margin: auto;
  }
  &flex {
    display: flex;
    justify-content: space-between;
  }


  
}


// font

.eval__{
  &xxl-font{
    font-size: 30px;
  }
  &l-font{
    font-size: 20px;
  }
  
}

// margin

.eval__{
  &mar-top-20{
    margin-top: 20px;
  }
  &pad-20{
    padding: 20px;
  }
}

// main rules

.eval__ {
  &pagename {
    font-weight:bold;
    text-align: center;
    font-size: 27px;
    color: $eval__dark-gray-text;
    text-transform: uppercase;
  }
  &sku{
      margin: auto;
      &-container{
          display:flex;
      }
  }
  &cta {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &main {
    min-height: 90vh;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 2%;
    background: $eval__gradient-red;
    color: $eval__dark-gray-text;
  }

  // &question-mark{
  //   color: $eval__dark-gray-text;
  //   font-size: 8px;
  //   text-align: center;
  //   display: block;
    
  //   &--container{
  //     display: inline-block;
  //     background: white;
  //     width: 10px;
  //     border: 1px solid $eval__dark-gray-text;
  //   height: 10px;
  //   border-radius: 50%;
  //   }
  // }

  &groupcontainer {
    margin-top:10px;
    &--small {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 70px;
    }
  }
  &group {
    border: 1px solid #0000ff00;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    height: $eval__radio-label-height;

    &--x2height {
      height: $eval__radio-label-height * 2 + $eval__button-margin * 2;
    }
    &--gb{
        width: 70%;
        margin-top: -20px;
    }
  }
  
  &radio-n-label {
    margin: $eval__button-margin auto;

    height: $eval__radio-label-height;
    &,
    &-color {
      float: left;

      position: relative;
      width: 30%;
    }
    &-color {
      width: 50px;
    }
  }
  &color:checked.eval__radio + label {
    border: 5px solid  $shopdunk-red;
    // box-shadow: 0 0 7px 3px #656363;
  }
  &label,&radio{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &label {
      
    border: $eval__button-border;
    box-shadow: $eval__button-shadow;
    & {
      padding: 5px;
    //   margin-top: 30px;
      cursor: pointer;
      z-index: 90;
      border-radius: 7px;
      background: linear-gradient( #fff,#f3f3f3);
      margin: auto;
      line-height: $eval__radio-label-height;
      text-align: center;
      height: $eval__radio-label-height;
      color:  #4a0707;
    }
    &-color {
      width: 25px;
      height: 25px;
      border-radius: 50%;

      &[for="eval__color-den"] {
        background: #282a2e;
      }
      &[for="eval__color-vang"] {
        background:  #f5ca44;
      }
      &[for="eval__color-do"] {
        background: #bd1e1e;
      }
      &[for="eval__color-xam"] {
        background: #8B8989;
      }
      &[for="eval__color-trang"] {
        background: #F3F2F0;
      }
      &[for="eval__color-hong"] {
        background:  #edc2bc;
      }
      &[for="eval__color-xanhbacha"] {
        background:  #b0e1c4;
      }
      &[for="eval__color-xanhreu"] {
        background: #a9d5bc ;
      }
      &[for="eval__color-do"] {
        background:   #ac2335;
      }
      &[for="eval__color-tim"] {
        background: #bb32ff ;
      }
      &[for="eval__color-xanhduong"] {
        background:  #4bace3 ;
      }
      &[for="eval__color-cam"] {
        background: #ff6600 ;
      }
      &[for="eval__color-denbong"] {
        background:  #000;
      }
    
      
     
    }
  }
  &thank-you{
      width: 80%;
      margin: auto;
      border: $eval__button-border;
      
      box-shadow: $eval__button-shadow;
      padding: 30px;
      background: white;

      &-text{
        font-size:20px;
        color: $shopdunk-red !important;
      }
      &--container{
          display:flex;
          height: 100vh;
      }
  }
  &text-center{
      text-align: center;
  }
  &phoneinfo{
    background: $eval__gradient-bolder-red ;
      padding: 10px 10px;
      border-radius: 10px;
  }

  &title {
    text-transform: uppercase;
    padding-top: 30px;
margin-left: 10px;

    padding-left: 10px;
    &.price-title{
        padding-top: 0;
    }
    &,&--small{
        font-weight: bold;
        line-height:1.5;       
        color: $eval__dark-gray-text;
        
        
        // has to write padding-top...because the browser default stylesheet will override otherwise
    }
  }
  &note {
    display: block;
    text-decoration: none;
    font-weight: bold;
  }
  &price-input{
    border: 1px solid $eval__grayish-red;
    box-shadow: $eval__button-shadow;
    padding: 10px ;
    
    border-radius: 10px;
    margin-top: 11px;
    
    background: white;
    // background:linear-gradient(130deg,#f5f5f5,white 30%,#ececec);
  }
  &radio {
    height: $eval__radio-label-height;
    width: 100%;
    opacity: 0.011;
    z-index: 100;
    &:not(.eval__color):checked + label {
      background: $eval__shiny-button-bg;
      border: none;
      color: white;

      text-shadow: 0 0 0px #ffffff;
    }
  }
  &button {
    border-radius: 7px;
    display: inline-block;
    box-sizing: border-box;
cursor: pointer;
    padding: 13px 10px;

    text-transform: uppercase;

    text-align: center;

    &-primary {
      background: $eval__shiny-button-bg;
      color: white;
      text-shadow: 0 0 0px #ffffff;
    }
    &-secondary {
      background: linear-gradient(#ffe6e6, #fffbfb);
      border: #f9d1d3 1px solid;
      color: $shopdunk-red;
      text-shadow: 0 0 0px $shopdunk-red;
    }
    &-calcu,
    &-reset {
      width: 49%;
      max-width: 300px;
      font-size: 13px;
    }
  }
  &text-input {
    padding-bottom:5px;

    border: none;
    border-bottom: 1px solid $eval__light-gray-text;
    
    color: $shopdunk-red;
    background: unset;
   width: 100%;
    text-align:center;
    margin: 17px auto;
    
    &--price{
              
        width: 200px;
    }
    &::placeholder {
        text-align:left;
      color: gray;
      font-size: 15px;
    }
    &:focus {
      outline: none;
    }
    &-container {
      display: flex;
    }
  }
  &select{
      width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $eval__grayish-red;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: $eval__dark-gray-text;
    box-shadow: $eval__button-shadow;
  }
  &option{
    font-size: unset;
  }
  &guide {
    color: #5a5454;
    
    text-align: center;
    font-size: 13px;
    
    margin: auto;
  }
} //end eval__

#eval__list-color{
  height: 45px;
}
// responsive 

@media screen and (max-width: 360px) {
  .eval__main {
    width: 96%;
    padding: 2%;
  }
  .eval__radio-n-label{
      width: 33%;
  }
  
  .eval__button-calcu, .eval__button-reset {
    width: 48%;
}

.eval__{
&group--gb{
    width: 100%;
}
&groupcontainer--small{
height: 60px;
margin-top: 20px;
}
}


}

// progress bar

.eval__progress{
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 14px;
  
}
.eval__bar{
  width: 1%;
  height: inherit;
  background: $eval__shiny-button-bg;
  border-radius: 14px;
  box-shadow: $eval__button-shadow;
}

.eval__panel {
  &{
  padding: 0 ;
  // background-color:  #fdf7f7;
  display: none;
  overflow: hidden;
  border-radius: 10px;
  }
  &.eval__panel-help{
    margin-left: -20px;
    padding: 15px 20px;
    font-size: unset;
    font-weight: normal;
    text-transform:none;
    background: $eval__gradient-bolder-red;
    position:relative;
  }
}

.eval__{
  &question-mark{
    cursor: pointer;
  }
}
.eval__help-close {
  &{
  position:absolute;
  top:5px;
  right:5px;
  cursor: pointer;}
  & i{
    font-size: 20px;
  }
}
// ACCORDION

// /* Style the buttons that are used to open and close the accordion panel */
// .eval__accordion {
//   background-color: #fdf7f7;
//   color: #444;
//   cursor: pointer;
//   padding: 10px;
//   width: 100%;
//   text-align: left;
//   border: none;
//   outline: none;
//   transition: 0.4s;
//   border-radius: 10px;
// }

// /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active, .eval__accordion:hover {
//   background-color:  #fdf7f7;
// }

/* Style the accordion panel. Note: hidden by default */

// END ACCORDION